*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-size: 62.5%; /* 1rem = 10px*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}
@media screen and (max-width: 413px) {
    .logo_flags {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;
        background-color: white !important; 
    }

    .logo {
        width: 30%;
        /*margin: 30px 30px 30px 0;*/
    }

    .logo img {
        width: 60%;
        height: 100%;
    }

    .flags {
        display: flex;
        /*margin: 30px 0 30px 30px;*/
        width: 30%;
    }

    .flag__block {
        width: 50%;
    }

    .flag__block img {
        width: 90%;
        height: 100%;
    }

    .content {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 2.5rem;
    }

    .content__title {
        display: block;
        padding: 2rem;
        color: white;
        font-size: 0.95rem;
        background-image: linear-gradient(to right, #0006C7, #61B7FF);
    }
    
    .content__input {
        padding: 2rem;
        background-color: white;
    }

    .content__input input {
        width: 100%;
        border: none;
        border: 1px solid grey;
        outline: none;
        border-radius: 3px;
    }

    .content__input input[type=text] {
        border-radius: 3px;
        margin-bottom: 1rem;
        height: 3rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .content__input input[type=password] {
        border-radius: 3px;
        padding: 0.5rem;
        font-size: 1.8rem;
        height: 4rem;
    }

    .upznote {
        border-radius: 3px;
        height: 6rem !important;
    }

    .btn {
        display: block;
        border-radius: 20px;
        height: 4rem;
        width: 70%;
        color: white;
        background-image: linear-gradient(to right, #0006C7, #61B7FF);
        margin: 0 auto;
    }

    .note {
        width: 80% !important;
    }

    a {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        padding-top: 1rem;
    }

    .input__title{
        font-size: 1.8rem !important;
    }

    footer {
        width: 100%;
        height: 3rem;
        background-image: linear-gradient(to right, #0006C7, #61B7FF);
    }
}

@media screen and (min-width: 414px) and (max-width: 767px) {
    .logo_flags {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;
        background-color: white !important; 
    }

    .logo {
        width: 30%;
        /*margin: 30px 30px 30px 0;*/
    }

    .logo img {
        width: 60%;
        height: 100%;
    }

    .flags {
        display: flex;
        /*margin: 30px 0 30px 30px;*/
        width: 30%;
    }

    .flag__block {
        width: 50%;
    }

    .flag__block img {
        width: 90%;
        height: 100%;
    }

    .content {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 2.5rem;
    }

    .content__title {
        display: block;
        padding: 2rem;
        color: white;
        font-size: 0.95rem;
        background-image: linear-gradient(to right, #0006C7, #61B7FF);
    }
    
    .content__input {
        padding: 4rem;
        background-color: white;
    }

    .content__input input {
        width: 100%;
        border: none;
        border: 1px solid grey;
        outline: none;
        border-radius: 3px;
        margin-bottom: 1rem;
    }

    .content__input input[type=text] {
        border-radius: 3px;
        margin-bottom: 1rem;
        height: 3rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .content__input input[type=password] {
        border-radius: 3px;
        padding: 0.5rem;
        font-size: 1.8rem;
        height: 4rem;
    }

    .upznote {
        border-radius: 3px;
        height: 6rem !important;
    }

    .btn {
        display: block;
        border-radius: 20px;
        height: 4rem;
        width: 70%;
        color: white;
        background-image: linear-gradient(to right, #0006C7, #61B7FF);
        margin: 0 auto;
    }

    .note {
        width: 80% !important;
    }

    a {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        padding-top: 1rem;
    }

    .input__title{
        font-size: 1.8rem !important;
    }

    footer {
        width: 100%;
        height: 3rem;
        background-image: linear-gradient(to right, #0006C7, #61B7FF);
    }
}

@media screen and (min-width: 768px) and (max-width: 919px) {
    .logo_flags {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 5rem;
        background-color: white !important; 
    }

    .logo {
        width: 30%;
        /*margin: 30px 30px 30px 0;*/
    }

    .logo img {
        width: 50%;
        height: 100%;
    }

    .flags {
        display: flex;
        /*margin: 30px 0 30px 30px;*/
        width: 30%;
    }

    .flag__block {
        width: 50%;
    }

    .flag__block img {
        width: 85%;
        height: 100%;
    }

    .content {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 4rem;
    }

    .content__title {
        display: block;
        padding: 2rem;
        color: white;
        font-size: 1rem;
        background-image: linear-gradient(to right, #0006C7, #61B7FF);
    }
    
    .content__input {
        padding: 4rem;
        background-color: white;
    }

    .content__input input {
        width: 100%;
        border: none;
        border: 1px solid grey;
        outline: none;
        border-radius: 3px;
        margin-bottom: 1rem;
    }
    
    .content__input input[type=text] {
        border-radius: 3px;
        padding: 0.5rem;
        font-size: 1.8rem;
        height: 4rem;
    } 

    .content__input input[type=password] {
        border-radius: 3px;
        padding: 0.5rem;
        font-size: 1.8rem;
        height: 4rem;
    }

    .upznote {
        border-radius: 3px;
        padding: 0.5rem !important;
        height: 7rem !important;
    }

    .input__title{
        font-size: 1.8rem !important;
    }

    .btn {
        display: block;
        border-radius: 25px;
        height: 5rem;
        width: 50%;
        color: white;
        background-image: linear-gradient(to right, #0006C7, #61B7FF);
        margin: 0 auto;
    }
    

    a {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        padding-top: 1.5rem;
    }

    footer {
        width: 100%;
        height: 3rem;
        background-image: linear-gradient(to right, #0006C7, #61B7FF);
    }
}

@media screen and (min-width: 920px) {
    .logo_flags {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4rem;
        background-color: white !important; 
    }

    .logo {
        width: 30%;
        /*margin: 30px 30px 30px 0;*/
    }

    .logo img {
        width: 50%;
        height: 100%;
        padding-left: 4rem;
    }

    .flags {
        display: flex;
        /*margin: 30px 0 30px 30px;*/
        width: 30%;
    }

    .flag__block {
        width: 50%;
    }

    .flag__block img {
        width: 65%;
        height: 100%;
    }

    .content {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 6rem;
    }

    .content__title {
        display: block;
        padding: 2rem;
        color: white;
        font-size: 1rem;
        background-image: linear-gradient(to right, #0006C7, #61B7FF);
    }
    
    .content__input {
        padding: 5rem;
        background-color: white;
    }

    .content__input input {
        width: 100%;
        border: none;
        border: 1px solid grey;
        outline: none;
        border-radius: 3px;
        margin-bottom: 1rem;
    }

    
    .content__input input[type=text] {
        border-radius: 3px;
        padding: 0.5rem;
        font-size: 1.8rem;
        height: 4rem;
    }

    .content__input input[type=password] {
        border-radius: 3px;
        padding: 0.5rem;
        font-size: 1.8rem;
        height: 4rem;
    }

    .upznote {
        border-radius: 3px;
        padding: 0.5rem !important;
        height: 7rem !important;
    }

    .input__title{
        font-size: 1.8rem !important;
    }

    .btn {
        display: block;
        border-radius:  25px;
        height: 5rem;
        width: 60%;
        color: white;
        background-image: linear-gradient(to right, #0006C7, #61B7FF);
        margin: 0 auto;
    }

    a {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        padding-top: 1.5rem;
    }

    .first-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
    }

    .first-column {
        width: 50%;
        margin-right: 7rem;
    }

    .second-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
    }

    .second-column {
        width: 50%;
    }

    .third-row {
        margin-bottom: 2rem;
    }

    .fourth-row {
        margin-bottom: 2rem;
    }

    footer {
        width: 100%;
        height: 4rem;
        background-image: linear-gradient(to right, #0006C7, #61B7FF);
    }
}